<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users track by user.id">
      <td>{{user.name.givenName}}</td>
      <td>{{user.name.familyName}}</td>
      <td><img ng-src="{{user.image.url}}"/></td>
    </tr>
    <tr ng-if="users.length == 0">
      <td colspan="3">No {{userType}}</td>
    </tr>
    <tr ng-if="users == null">
      <td colspan="3">Loading {{userType}}</td>
    </tr>
  </tbody>
</table>